<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    body {
        min-height: 100vh;
    }

    header, main, footer {
        height: 100px;
    }

    header {
        background-color: #aa0000;
    }

    main {
        background-color: #00aa00;
    }

    footer {
        background-color: #0000aa;
        position: sticky;
        top: 100vh;
    }
</style>
<body>
<header>header</header>
<main>main</main>
<footer>footer</footer>
<section>section</section>
</body>
</html>
